<h1>Work Spaces for Digital Nomads</h1>
<div id="map"
     data-markers="<%= @markers.to_json %>"
></div>
<div class="d-flex justify-content-center">
  <% Place.all.each do |place| %>
    <div class="card-info">
      <%= image_tag("placeholder-restaurant.png", class: "card-img") %>
      <p class="m-3"><%= place.name %></p>
      <p class="m-3"><%= place.address %></p>
    </div>
  <% end %>
</div>
<%= react_component("Map") %>
